@import url('./custom.css');
@import url('./uikit.min.css');
@import url('./bootstrap.min.css');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800&display=swap');

body {
    font-family: 'Work Sans';
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Work Sans', sans-serif;
}

section.register-page {
    min-height: 100vh;
    background: #52A9AD;
    overflow: hidden;
}

.provider-btn {
    border: 1px solid #E5E5E5 !important;
    border-radius: 5px;
}

.provider-btn span {
    color: #868686;
}

.register-img {
    position: absolute;
    max-width: 35%;
    left: 0;
    top: 50%;
}

.register-area-parent {
    min-height: 100vh !important;
    border-radius: 44px 0px 0px 44px
}

.language-selector {
    text-align: right;

}

.language-selector select {
    border: 0px !important;
    color: #AAA9A9;
}

.create-account {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 29px;
    line-height: 35px;
    letter-spacing: 0.28em;
    color: #2D2D2D;
    margin-bottom: 25px;
}

.logo-text {
    font-size: 26px;
    font-weight: 400;
}

.alter-text {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: #868686;
    margin-top: 25px;
}



.input-custom {
    background: #F3F3F3;
    border-radius: 10px;
    border: 0px;
    color: #868686;
    padding: 12px 10px 12px 15px;

}

.input-custom:focus {
    background: #F3F3F3;
    border: none;
    box-shadow: none;
}

.register-btn {
    background: #52A9AD;
    border: none;
    width: 100%;
    border-radius: 7px;
}

.register-btn:hover {
    background: #52A9AD;
}

.link {
    text-decoration: none;
    color: #52A9AD;
}

.link:hover {
    text-decoration: none;
    color: #52A9AD;
}

.after-hero-con{
    margin-top: -7%;
    /* margin-bottom: 50px; */
}

.after-hero{
    background-image: url("../images/bg2.png");
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
    padding: 80px 0;
}

.gradient__bg{
    background-image:url("../images/bulb2.png"), linear-gradient(to bottom, rgba(83, 164, 190,0), rgba(250, 211, 186, 0));
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

.background__bg{
    background-color: linear-gradient(to bottom, rgba(83, 164, 190,0), rgba(250, 211, 186, 0.1));
}

.left__menu{
    background-color: white;
    position: relative;
    z-index: 10;
}

    @media screen and (max-width:991px) {
        p{
            font-size: 14px;
        }
        .logo-text{
            font-size: 16px;
        }
        .logo{
            max-width: 38%;
        }
        .register-left{
           min-height:300px;
        }
        .register-img {
            position: relative;
            left: 30%;
            top: 20%;
        }

        .login-providers{
            flex-direction: column;
        }
        .login-providers button{
            width: 100%;
        }
        .login-providers button:first-child{
            margin-bottom: 15px;
        }
        .register-area{
            width: 88%;
        }
    }

    button.add-podcast {
        background: #52A9AD;
        color: white;
        outline: none;
        border: none;
        padding: 11px 28px;
        border-radius: 5px;
    }

    .color-base{
        color: #52A9AD !important;
    }

    button.follow-btn {
        border: 2px solid #52A9AD;
        border-radius: 5px;
        padding: 4px 28px;
        background: white;
    }

    .mybg-liked{
        background:  radial-gradient(90.16% 143.01% at 15.32% 21.04%, rgba(165, 239, 255, 0.2) 0%, rgba(110, 191, 244, 0.0447917) 77.08%, rgba(70, 144, 213, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
        background-blend-mode: overlay, normal;
        backdrop-filter: blur(80px) !important;
    }

    .col-md-4.change-image {
        background: #ffffff;
        padding: 5px;
        text-align: center;
    }
    
    button.mt-2.change-image-btn {
        background: #52A9AD;
        border: none;
        outline: none;
        color: white;
        padding: 9px 131px;
        border-radius: 5px;
    }
    
    img.change-img {
        border-radius: 5px;
    }.col-md-4.change-image {
    background: #ffffff;
    padding: 5px;
    text-align: center;
}

button.mt-2.change-image-btn {
    background: #52A9AD;
    border: none;
    outline: none;
    color: white;
    padding: 9px 131px;
    border-radius: 5px;
}

img.change-img {
    border-radius: 5px;
}

.col-md-4.change-image {
    background: #ffffff;
    padding: 5px;
    text-align: center;
}

button.mt-2.change-image-btn {
    background: #52A9AD;
    border: none;
    outline: none;
    color: white;
    padding: 9px 131px;
    border-radius: 5px;
}

img.change-img {
    border-radius: 5px;
}

button.change-audio {
    border: none;
    background: #00abaf;
    color: white;
    padding: 10px 32px;
    border-radius: 5px;
    font-size: 16px;
}
